<h1> Dojo Weather Forecast</h1>
<div>
  <button class="btn btn-success"><a [routerLink]="['seattle']"> Seattle WA </a></button>
  <button class="btn btn-success"><a [routerLink]="['sanjose']"> San Jose CA </a> </button>
  <button class="btn btn-success"><a [routerLink]="['burbank']">Burbank CA </a></button>
</div>
<div>
  <button class="btn btn-success"><a [routerLink]="['dallas']"> Dallas TX</a> </button>
  <button class="btn btn-success"><a [routerLink]="['dc']"> Washington DC </a> </button>
  <button class="btn btn-success"><a [routerLink]="['chicago']"> Chicago IL </a></button>
</div>

<router-outlet></router-outlet>




